{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">

            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" value={{ password }}>
                <span class="error">{{ error }}</span>

            </td>
        </tr>
        <tr>
          <td colspan="2">    <input type="submit"></td>
        </tr>
        <tr>
          New to the blog? <a href="/signup">Create an Account</a>
        </tr>
    </table>
</form>

{% endblock %}
